<!DOCTYPE html>
<html>
  <head>
    <title>Instagramclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="first">
        <button type="button" class="btn btn-warning btn-xs"><%= link_to "Sign up", new_user_path %></button>
      <button type="button" class="btn btn-primary btn-xs"><%= link_to "Login", new_session_path %></button>
        <%= image_tag("instagram.png") %>
      </div>
</header>

 <% flash.each do |key, value| %>
 <%= content_tag(:div, value, class: "#{key}") %>
 <% end %>
 <% if logged_in? %>
 <%= link_to "Posts", feeds_path(current_user.id) %>
 <%= link_to "Profile", user_path(current_user.id)%>
 <%= link_to "Favorite", favorites_path%>
  <%= link_to "Logout", session_path(current_user.id), method: :delete %>
  <% else %>
  <% end %>
  <%= yield %>
  <footer class="footer">
    <p>Copyright © 2020 Instagramclone inc, All RIGHTS RESERVED.</p>
  </footer>
  </body>
</html>
